In [33]:
import pandas as pd
import pickle

In [34]:
def unpickle(file_path):
    with open(file_path, 'rb') as f:
        data = pickle.load(f)
    return data

In [35]:
%ls ../data/4_classes/null_hypoth/

20230208.4_classes.propagated       labels_ls2        predictions.csv
20230208.4_classes.propagated_k_10  lp.transduction_  test_mult_15
20230208.4_classes.propagated_k_20  lpa_k_10          test_mult_15.pickle
20230208.4_classes.propagated_k_5   lpa_k_20          train_mult_70
embeddings_ls1                      lpa_k_5           train_mult_70.pickle
embeddings_ls2                      paths_ls1         val_mult_15
labels_ls1                          paths_ls2         val_mult_15.pickle

In [36]:
paths_ls1 = unpickle('../data/4_classes/null_hypoth/paths_ls1')
labels_ls1 = unpickle('../data/4_classes/null_hypoth/labels_ls1')
print(len(paths_ls1), len(labels_ls1))

paths_ls2 = unpickle('../data/4_classes/null_hypoth/paths_ls2')
labels_ls2 = unpickle('../data/4_classes/null_hypoth/labels_ls2')
print(len(paths_ls2), len(labels_ls2))

lpa_k_5 = unpickle('../data/4_classes/null_hypoth/lpa_k_5')
print(len(lpa_k_5))

lpa_k_10 = unpickle('../data/4_classes/null_hypoth/lpa_k_10')
print(len(lpa_k_10))

lpa_k_20 = unpickle('../data/4_classes/null_hypoth/lpa_k_20')
print(len(lpa_k_20))

328 328
29003 29003
29331
29331
29331

In [37]:
df_lpa_k_5 = pd.DataFrame(paths_ls1+paths_ls2 , columns=['path'])
df_lpa_k_5['label'] = labels_ls1+labels_ls2
df_lpa_k_5['prop_label'] = lpa_k_5
display(df_lpa_k_5.tail())
print(df_lpa_k_5.prop_label.unique())

                                                    path  label  prop_label
29326  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29327  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           1
29328  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           2
29329  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29330  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           3

[0 1 3 2]

In [38]:
df_lpa_k_10 = pd.DataFrame(paths_ls1+paths_ls2 , columns=['path'])
df_lpa_k_10['label'] = labels_ls1+labels_ls2
df_lpa_k_10['prop_label'] = lpa_k_10
display(df_lpa_k_10.tail())
print(df_lpa_k_10.prop_label.unique())

                                                    path  label  prop_label
29326  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29327  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           3
29328  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29329  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29330  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           3

[0 1 3 2]

In [39]:
df_lpa_k_20 = pd.DataFrame(paths_ls1+paths_ls2 , columns=['path'])
df_lpa_k_20['label'] = labels_ls1+labels_ls2
df_lpa_k_20['prop_label'] = lpa_k_20
display(df_lpa_k_20.tail())
print(df_lpa_k_20.prop_label.unique())

                                                    path  label  prop_label
29326  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           1
29327  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           3
29328  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29329  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0
29330  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           3

[0 1 3 2]

In [40]:
df_lpa_k_5['id'] = df_lpa_k_5.path.str.split('/',expand=True)[7]
print(df_lpa_k_5.shape)
df_lpa_k_5.tail()

(29331, 4)

,path,label,prop_label,id
29326,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fb5
29327,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,1,fc0
29328,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,2,fd5
29329,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fd5
29330,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,3,ff6

In [41]:
df_lpa_k_10['id'] = df_lpa_k_10.path.str.split('/',expand=True)[7]
print(df_lpa_k_10.shape)
df_lpa_k_10.tail()

(29331, 4)

,path,label,prop_label,id
29326,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fb5
29327,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,3,fc0
29328,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fd5
29329,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fd5
29330,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,3,ff6

In [42]:
df_lpa_k_20['id'] = df_lpa_k_20.path.str.split('/',expand=True)[7]
print(df_lpa_k_20.shape)
df_lpa_k_20.tail()

(29331, 4)

,path,label,prop_label,id
29326,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,1,fb5
29327,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,3,fc0
29328,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fd5
29329,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,0,fd5
29330,/da1_data/icputrd/arf/mean.js/public/anau_img3...,-1,3,ff6

In [43]:
df_labeled_id = pd.DataFrame(paths_ls1, columns=['path'])
print(df_labeled_id.shape)
df_labeled_id.head()

(328, 1)

                                                path
0  /da1_data/icputrd/arf/mean.js/public/anau_img3...
1  /da1_data/icputrd/arf/mean.js/public/anau_img3...
2  /da1_data/icputrd/arf/mean.js/public/anau_img3...
3  /da1_data/icputrd/arf/mean.js/public/anau_img3...
4  /da1_data/icputrd/arf/mean.js/public/anau_img3...

In [44]:
df_id = pd.DataFrame(df_labeled_id.path.str.split('/',expand=True)[7].unique(), columns=['id'])
print(df_id.shape)
df_id.head()

(89, 1)

    id
0  07b
1  dea
2  9f4
3  65b
4  4e4

In [45]:
df_lpa_k_5.head()

                                                path  label  prop_label   id
0  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
1  /da1_data/icputrd/arf/mean.js/public/anau_img3...      1           1  dea
2  /da1_data/icputrd/arf/mean.js/public/anau_img3...      3           3  9f4
3  /da1_data/icputrd/arf/mean.js/public/anau_img3...      3           3  65b
4  /da1_data/icputrd/arf/mean.js/public/anau_img3...      1           1  4e4

In [46]:
df_lpa_k_5_filtered = pd.merge(df_lpa_k_5,df_id,on='id', how='inner')
print(df_lpa_k_5_filtered.shape)
df_lpa_k_5_filtered.head()

(24918, 4)

                                                path  label  prop_label   id
0  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
1  /da1_data/icputrd/arf/mean.js/public/anau_img3...      3           3  07b
2  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
3  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0  07b
4  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           2  07b

In [47]:
df_lpa_k_10_filtered = pd.merge(df_lpa_k_10,df_id,on='id', how='inner')
print(df_lpa_k_10_filtered.shape)
df_lpa_k_10_filtered.head()

(24918, 4)

                                                path  label  prop_label   id
0  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
1  /da1_data/icputrd/arf/mean.js/public/anau_img3...      3           3  07b
2  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
3  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0  07b
4  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           1  07b

In [48]:
df_lpa_k_20_filtered = pd.merge(df_lpa_k_20,df_id,on='id', how='inner')
print(df_lpa_k_20_filtered.shape)
df_lpa_k_20_filtered.head()

(24918, 4)

                                                path  label  prop_label   id
0  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
1  /da1_data/icputrd/arf/mean.js/public/anau_img3...      3           3  07b
2  /da1_data/icputrd/arf/mean.js/public/anau_img3...      0           0  07b
3  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           0  07b
4  /da1_data/icputrd/arf/mean.js/public/anau_img3...     -1           1  07b

In [50]:
df_lpa_k_5_filtered[['path', 'prop_label']].to_csv('../data/4_classes/null_hypoth/20230208.4_classes.propagated_k_5',
                                           header=False, index=False)
df_lpa_k_10_filtered[['path', 'prop_label']].to_csv('../data/4_classes/null_hypoth/20230208.4_classes.propagated_k_10',
                                           header=False, index=False)
df_lpa_k_20_filtered[['path', 'prop_label']].to_csv('../data/4_classes/null_hypoth/20230208.4_classes.propagated_k_20',
                                           header=False, index=False)